* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    color: white;
}

input, textarea, button, select, a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    background: rgba(36, 148, 165, 1);
}

h1 {
    margin-top: 7.5vh;
    font-weight: 700;
}

#mainmenu {
    text-align: center;
}

#playerNameForm {
    width: 100vw;
    margin-top: 5vh;
}

#playerNameInputs {
    max-height: 55vh;
    overflow-y: scroll;
}

.playerNameInput {
    width: 80vw;
    height: 50px;
    margin: 1vh;

    font-size: 25px;
    padding: 0 5vw;
    color: rgba(36, 148, 165, 1);

    background: rgba(255, 255, 255, 1);
    border-radius: 25px;
    border: none;
}

::placeholder {
    color: rgba(36, 148, 165, .5);
}

#addPlayerButton, #startGameButton {
    height: 50px;
    border-radius: 25px;
    background: rgb(49, 201, 180);
    font-size: 25px;
    border: none;

    transition: all .2s ease;
}

#addPlayerButton:hover, #startGameButton:hover {
    background: rgb(35, 167, 149);
}

#addPlayerButton:active, #startGameButton:active {
    transform: scale(.95);
}


#addPlayerButton {
    margin-top: 2vh;
    padding: 0 5vw;
}

#startGameButton {
    width: 90vw;
    position: absolute;
    bottom: 5vh;
    left: 5vw;
}